footer.footer
  .footer__info 
    .container 
      .footer__info-top 
        h5.footer__h5 Stay in Touch
        form(action="").footer-form
          input(type="text" placeholder="Enter your email address").footer__input 
          button.footer-form-button Submit 
  .footer__btm 
    .container
      .footer__btm-info 
        h5.footer__btm-h5 Escape.
        ul.footer__btm-list 
          li 
            a(href="").footer__btm-link Home
          li 
            a(href="").footer__btm-link Categories
          li 
            a(href="").footer__btm-link About
          li 
            a(href="").footer__btm-link Contact
              
    