header.header
    .container
        .header__nav
            a(href="").header__nav-logo Escape. 
            ul.header__nav-list    
                li.li
                    a(href="").header__nav-link Home
                li.li
                    a(href="").header__nav-link Categories
                li.li 
                    a(href="").header__nav-link About
                li.li 
                    a(href="").header__nav-link Contact
        .header__content 
            .header__content-info 
                h1.header__content-h1 Let's do it together.
                p.header__content-description We travel the world in search of stories. Come along for the ride.
                a(href="").header__content-link View Latest Posts     