main.mainTop 
    .container 
        .mainTop__info
            ul.mainTop__info-list 
                li.link 
                    a(href="").mainTop__list-link Nature 
                li.link
                    a(href="").mainTop__list-link Photography
                li.link
                    a(href="").mainTop__list-link Relaxation
                li.link 
                     a(href="").mainTop__list-link Vacation
                li.link
                    a(href="").mainTop__list-link Travel
                li.link
                    a(href="").mainTop__list-link Adventure