.main
    .container 
        .main__info 
            .main__info-top 
                h2.main__infoTop-h2 Featured Posts
                .main__infoTop-Blocks 
                    .main__info-Block 
                        .main__Block-par 
                            h2.main__Block-h2 The Road Ahead
                            p.main__Block-disc The road ahead might be paved - it might not be.
                            .main__Night-info 
                                img(src="./images/person-2.webp", alt="").main__night-img
                                p.main__night-desc Mat Vogels
                                p.main__night-date September 25, 2015
                    .main__info-BlockTwo
                        .main__Block-par 
                            h2.main__Block-h2 The Road Ahead
                            p.main__Block-disc The road ahead might be paved - it might not be.
                            .main__Night-info 
                                img(src="./images/person-1.webp", alt="").main__night-img
                                p.main__night-desc Mat Vogels
                                p.main__night-date September 25, 2015
            .main__info-center 
                h3.main-h3 Most Recent
                .main__infoCen-Par
                    .main__infoCen-child
                        img.main__child-img(src="./images/main-img3.webp", alt="").main__ballons-img
                        .main__child-info 
                            h5.main__child-h5 Still Standing Tall
                            p.main__child-desc Life begins at the end of your comfort zone.
                        .main__child-btm 
                            img(src="./images/person-1.webp", alt="").main__night-img
                            p.main__childBtm-desc William Wong
                            p.main__childBtm-date 9/25/2015
                    .main__infoCen-child
                        img.main__child-img(src="./images/main-img4.webp", alt="").main__ballons-img
                        .main__child-info 
                            h5.main__child-h5 Still Standing Tall
                            p.main__child-desc Life begins at the end of your comfort zone.
                        .main__child-btm 
                            img(src="./images/person-2.webp", alt="").main__night-img
                            p.main__childBtm-desc William Wong
                            p.main__childBtm-date 9/25/2015
                    .main__infoCen-child
                        img.main__child-img(src="./images/main-img5.webp", alt="").main__ballons-img
                        .main__child-info 
                            h5.main__child-h5 Still Standing Tall
                            p.main__child-desc Life begins at the end of your comfort zone.
                        .main__child-btm 
                            img(src="./images/person-2.webp", alt="").main__night-img
                            p.main__childBtm-desc William Wong
                            p.main__childBtm-date 9/25/2015
                    .main__infoCen-child
                        img.main__child-img(src="./images/main-img6.webp", alt="").main__ballons-img
                        .main__child-info 
                            h5.main__child-h5 Still Standing Tall
                            p.main__child-desc Life begins at the end of your comfort zone.
                        .main__child-btm 
                            img(src="./images/person-1.webp", alt="").main__night-img
                            p.main__childBtm-desc William Wong
                            p.main__childBtm-date 9/25/2015
                    .main__infoCen-child
                        img.main__child-img(src="./images/main-img7.webp", alt="").main__ballons-img
                        .main__child-info 
                            h5.main__child-h5 Still Standing Tall
                            p.main__child-desc Life begins at the end of your comfort zone.
                        .main__child-btm 
                            img(src="./images/person-2.webp", alt="").main__night-img
                            p.main__childBtm-desc William Wong
                            p.main__childBtm-date 9/25/2015
                    .main__infoCen-child
                        img.main__child-img(src="./images/main-img8.webp", alt="").main__ballons-img
                        .main__child-info 
                            h5.main__child-h5 Still Standing Tall
                            p.main__child-desc Life begins at the end of your comfort zone.
                        .main__child-btm 
                            img(src="./images/person-2.webp", alt="").main__night-img
                            p.main__childBtm-desc William Wong
                            p.main__childBtm-date 9/25/2015